
.cbp-hrmenu .cbp-hrsub {
    display: none; 
    position: absolute;
    background: #fff;
    width: 100% !important;
    left: 0;
    top: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
   
}
.cbp-hrmenu ul.ul-submenu{
	padding-right: 30px;
	padding-left: 20px;
	float: left;
	    float: initial !important;
    display: inline-block !important;
    vertical-align: top !important;

}
.cbp-hrmenu .cbp-hrsub-inner{
	width: auto;
	display: table;
	margin: 0 auto !important;
	
}
.cbp-hrmenu ul.ul-submenu > li{
	padding: 0px !important;
	margin: 0px !important;
	line-height: 20px !important;
}
.cbp-hrmenu ul.ul-submenu > li > a{

	text-transform:auto !important;
	font-weight: bold;
	line-height: 25px !important;
	margin: 0px !important;
	padding: 0px !important;
	color: #5bc0de;
	font-size: 14px;
	text-decoration: none;

	border-bottom: none;
}
.cbp-hrmenu ul.ul-submenu-sub {

	padding: 0px 0px 10px 0px;

	}
.cbp-hrmenu ul.ul-submenu-sub > li{

	padding: 0px !important;
	height: 20px;

	
}
.cbp-hrmenu ul.ul-submenu-sub > li > a{
	text-transform:auto !important;
	
	margin: 0px !important;
	padding: 0px !important;
	font-size: 13px;
	color: #5f5f5f;
}
.cbp-hrmenu .fa{
	color: #fff !important;
}
.cbp-hrmenu > ul > li{
	padding: 0px 20px;
}
.cbp-hrmenu > ul > li > a {
    font-weight: normal; 

    line-height: 10px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}