/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 30px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #000;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */

	
	font-size: 12px;
	background: #edf1f2;
	border-radius: 0px;
	
	text-transform: uppercase;
	
	opacity: 1;
	
	border-radius: 0px !important;
	margin: 5px;
	 outline-offset: 0px;
    text-shadow: none;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	 background: #02a4ec;
	   color: #fff;
	  outline: 1px solid;
	  outline-color: rgba(255, 255, 255, 0);
	  outline-offset: 10px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
	
	
	text-align: center;


    padding: 5px 15px ;
    line-height: 20px;
    

}
.owl-theme .owl-controls .owl-buttons .owl-next{
	text-align: center;


     padding: 5px 15px ;
    line-height: 20px;
 	

}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	border: 1px solid #28b6ff;
    background: #02a4ec;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}