/* banner-page */
.banner-page{
	height: 250px;
	width: 100%;
	background: url('../images/banner-faq.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
}
.tittle-banner-page{
	margin-top: 120px;
	text-align: center;
	

}
.tittle-banner-page h3{
	color: #fff;
	text-transform: uppercase;
}
.banner-page .breadcrumb{
	position: absolute;
	bottom: 0px;
	padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background: none;
    border-radius: 0px;
    color: #fff;
}
.banner-page  .breadcrumb li a{
	color: #fff;
}
.banner-page  .breadcrumb > .active {
    color:#5bc0de;
}

/* products-view */

.products-view{
	margin-top: 30px;
	margin-bottom: 30px;
}
.products-view .nav-tabs{
	width: 100%;
	float: left;
	margin-top: 5px;
}
.products-view .nav-tabs li{
	
	float: left;
	margin-bottom: 10px;
	background: #000;
	width: 60px !important;
	height: 80px !important;

}

.products-view .nav-tabs li.active img,.products-view .nav-tabs li:hover img,
.products-view .nav-tabs li:focus img{
	opacity: 0.6;
}
.products-view .nav-tabs li img{
	width: 60px !important;
	height: 80px !important;
	}

.products-view  .nav-tabs > li > a {
    border-radius: 0px !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: bold;
   	padding: 0px;
   	margin:0px;
    border: none;
   
}
.products-view  .nav-tabs > li.active > a,.products-view  .nav-tabs > li.active > a:hover,
.products-view  .nav-tabs > li.active > a:focus {
    border: none;
    background-color: #000;
    
    
    border-top:none;
    border-radius: 0px !important;
}
.name-products{
	width: 100%;
	float: left;
	text-transform: uppercase;
}
.name-products h4,.name-products small{
	line-height: 40px;
	margin: 0px;
  display: block;
}
.name-products small{
	text-transform: capitalize;
	margin-left: 15px;
}
.brand-name-text{
	float: left;
	width: 100%;
}
.brand-name-text small{
	margin-right: 10px;
}
.brand-name-text a{
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.products-view .col-md-7{
	margin-bottom: 20px;
}
.products-view .rice{
	width: 100%;
	float: left;
	color: #5bc0de;
	font-size: 16px;
}
.products-view .rice strong{
	margin-left: 10px;
}
.buttons-group{
	width: 100%;
	float: left;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.buttons-group a{
	padding: 10px 0px;
	width: 46%;
	display: table;
	text-align: center;
	border: 1px solid #D4D4D4;
	float: left;
	margin-right: 2%;
}
.buttons-group .fa{
	margin-right: 10px;
}
.more-products{
	margin-bottom: 50px;
	margin-top: 30px;
	border-top: 1px solid #eaeaea;
	padding-top: 30px;
}
.more-products img{
	padding:5px;
}
.header-more-products{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
}

.more-products li:hover .caption-img{
  opacity: 1;
  transform: scale(1);
  
}

.caption-img a{
	color: #fff;
}
.detail-info small{
	color: #6a6a6a;
}


/* products list */
.products-list-page{
	margin-top: 20px;
	margin-bottom: 50px;
	width: 100%;
}
.content-products-list{
	width: 100%;
	margin-top: 30px;
}
.content-products-list .col-md-3{
	margin-bottom: 40px;
padding-left: 0px;
padding-right: 0px;
}
.box-select{
	width: 100%;
	display:inline-block;

	padding-bottom: 10px;
	border-bottom: 1px solid #D8D8D8;

}
.box-select .option-box{
	color: #c2c2c2;

}
.selectpicker span{
	padding: 0px 20px;
}
.box-select .selectpicker{
	border: none;
  width: 160px	;
	
	background: none;
	
	
}
option.hidden{
	opacity: 0;
}
.box-select-items{
	border: 1px solid #D8D8D8;
	padding: 5px;
  float: left;
	margin-right: 15px;
}
.pagilation-box{
	width: 100%;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 50px;
	float: left;
	text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;text-align: center;
    border-radius: 0px !important;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;text-align: center;
}

.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #E3E9EA;
    border-radius: 0px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.pagilation-box nav{
	width: auto;
	margin:0 auto;text-align: center;
}



/* menu sub list*/
.nav-side-menu {
 
  width: 100%;
  height: 100%;
  float: left;
  color: #000;
}
.nav-side-menu .brand {

  line-height: 50px;
  display: block;
  text-align: left;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
 
}
.nav-side-menu li .fa{
	float: right;
	line-height: 40px;
}
.nav-side-menu ul .sub-menu li a{
  padding-left: 10px;
}

.nav-side-menu li .sub-menu li {
 
  border: none;
  line-height: 28px;
 
  margin-left: 0px;
}

.nav-side-menu li .sub-menu li:hover {

}

.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  
  border-bottom: 1px dotted #c2c2c2;
}
.nav-side-menu .menu-content > li:last-child {
  border-bottom: 0;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #000;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li.active a,
.nav-side-menu li:hover a{
  color: #5bc0de;
  text-decoration: none;

  -webkit-transition: all .3 ease;
  -moz-transition: all .3 ease;
  -o-transition: all .3 ease;
  -ms-transition: all .3 ease;
  transition: all .3 ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #DEDEDE;

  }
  .nav-side-menu ul li:last-child{
  	border-bottom: none;
  	padding-bottom: 15px;
  }
  .nav-side-menu .fa-2x {
    font-size: 22px;
	}
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #5BC0DE;
    color: #fff;
    width: 30px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    font-weight: bold;
  }
  .nav-side-menu .menu-list .menu-content
  {
  	padding-left: 30px;
  	padding-right: 30px;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .brands-about .text-brands{
  padding-left: 20px;
  
}
}

/* abouts brands-about */
.brands-about{
  width: 100%;
 
  float: left;
  margin-bottom: 30px;
  margin-top: 30px;
}
.brands-about strong{
  text-decoration: underline;
  line-height: 40px;
}
.brands-about .col-md-7{
  overflow: hidden;
}
.brands-about .col-md-7 img{
  margin-bottom: 15px;
  height: 300px;
  width: 100%;
}
.brands-about .text-brands{
  padding-left: 20px;

}


/* brands list */
ul.list-letter{
  width: 100%;
  float: left;
  margin-top: 5px;
  display: inline-block;
  padding:10px 0px 30px 0px;
  border-bottom: 1px solid #D8D8D8;
}
ul.list-letter li{
  float: left;
}
ul.list-letter li a{
  padding-right:15px;
  text-align: left;
  color: #444444;

}
ul.list-letter li.active a{
  color: #337ab7;
  text-decoration: underline;
}

.tittle-brands-list{
  width: 100%;
  float: left;
  line-height: 30px;
}
ul.brands-list-content{
  width: 100%;
  float: left;
  margin-top: 15px;
}
ul.brands-list-content li{
  float: left;
  width:30%;
  padding: 5px 0px 5px 0px;
}
ul.brands-list-content li a{
   color: #444444;
   font-size: 13px;
}
.input-contact, .contact-page{
  
  
}

.input-contact{
  padding: 20px 0px 50px;
}

.top-contact{
  width: 100%;

  margin:40px 0px;
  float: left;
  margin-bottom: 50px;
}
.top-contact .fa{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border:1px solid #c2c2c2;
  border-radius: 100%;
  margin-right: 15px;
  
}
.input-contact .tittle-box{
  text-align: center;
}
.input-contact  input{
  border-radius: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-bottom-color: #EFEDED;
  line-height: 40px;
  height: 40px;
}
.input-contact  textarea{
  border-radius: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-bottom-color: #EFEDED;
}
.about-us {
  width: 100%;
  background: #fff;
  margin:40px 0px;
  float: left;
  margin-bottom: 30px;
}
.about-us .fa{
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border:1px solid #1ebdd2;
  border-radius: 100%;
  margin-right: 15px;
  background: #26c8dd;
  color: #fff;
}
.items-abouts{
  float: left;

}
.button-margin{
  width: 100%;
  margin: 0 auto;
  float: left;
}
.input-contact .btn{
  margin:0 auto;
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin-left: -60px;
}
.bg-abouts-img{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 200px;
  display: inline-block;
  background: url('../images/bg-abouts-bg.png') no-repeat fixed center center;

  background-size: cover;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}
/* cart*/

.items-products-cart{
  width: 100%;
 
  float: left;
  border: 1px solid #ECECEC;
  padding:0px;
  margin-bottom: 15px;
}

.items-products-cart img{
  width: 100%;
  height: 200px;
  padding: 10px 0px;
}
.items-products-cart  .col-md-4{
  height: 200px;
}

.items-products-cart .col-md-3,.items-products-cart .col-md-2{
  height: 200px;
  border-right: 1px solid #ECECEC;
}
.items-products-cart .col-md-2:last-child{
  border-right:none;

}
.items-products-cart .letter-line{
  text-align: center;
  line-height: 200px;
}

.items-products-cart input {
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 80px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-bottom-color: #EFEDED;
    line-height: 40px;
    height: 40px;
}
.save-late{
  padding:5px 5px;
  border-radius: 4px;
   border: 1px solid #ECECEC;
   display: table;
   margin-top: 10px;

}
.save-late .fa{
  margin-right: 5px;
}

.summary{
  border: 1px solid #ECECEC;
  padding:10px;
  
}
.summary span{

  color: #c2c2c2;
  font-size: 14px;

}
.summary strong{
  float: right;

}
.summary  .btn{
  width: 100%;
  
  margin-bottom: 15px;
  margin-left: 0px;
  border-radius: 0px;
}
.summary  .btn-default{
  
   border: 1px solid #ECECEC;
}
.summary  .btn-default:hover{
  background-color: #ECECEC;
}

/*user-box*/

.user-box {
  width: 250px;
  min-height: 150px;
  padding:5px 25px;
  background: #fff;
  border: 1px solid #ececec;
  display: none;
  position: absolute;
  z-index: 999999;
  text-align: left;
  transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit--o-transition: all 2s ease;
}
.login{
  position: relative;
}
.login > a{
  overflow: hidden;
}
.login:hover .user-box{
  display: block;
}

.user-box  hr{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.user-box ul li a{
  color: #909090;
}
.tittle-user-box{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.user-box strong,.user-box a,.user-box ul li a:hover{color: #5bc0de;}
@media all and (max-width: 580px) {
  .user-box {
  
    
    right: 0px;
  }

}

/* news */
.news-view-content{
  padding: 15px 0px 50px 0px;
}
.news-view-content img{
  /*height: 300px !important;*/
  margin-bottom: 15px;
  margin-right: 15px;
}
.items-news-more{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.items-news-more img{
  /*height: 150px !important;*/
  width: 100%;
}
.items-news-more img:hover{
  opacity: 0.8;
}
.news-title,
.items-news-more h4{
  display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 40px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}