
/* effect hover img */
/* effect hover img news */

/***** Layla *****/
/*---------------*/

figure.effect-layla {
  background: rgba(0,0,0,.4);
}

figure.effect-layla img {
  width: 100%;
  height: 100%;

}

figure.effect-layla figcaption {
  
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

figure.effect-layla figcaption::before {
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}



figure.effect-layla img {
  -webkit-transform: translate3d(0,0px,0);
  transform: translate3d(0,0px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}



figure.effect-layla:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}



/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
  background: rgba(0,0,0,0);

}

figure.effect-oscar img {
  opacity: 1;
  width: 100%;
  border: 4px solid #fff;
 

}
.products-list-1 figure.effect-oscar img {
  opacity: 1;
  width: 100%;
  border:none;
  margin: 10px 10px 0px 10px;
 

}
.products-list-1 h3{
  font-weight: normal;
  text-transform: capitalize;
}
figure.effect-oscar figcaption {
  padding: 20% 50px 0 50px;

  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;

  
  content: '';
}
.products-list-2 figure.effect-oscar figcaption::before {
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  border: 1px solid #fff;
}

figure.effect-oscar h3 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #575757;

}


.img-haft  figure.effect-oscar figcaption {
    padding: 15px 50px;
  }
.img-haft figure.effect-oscar h3{
  margin: 5% 0 10px 0;
}
.products-list-2 figure.effect-oscar h3{
  margin: 5% 0 0px 0;
  text-align: center;

}
figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;color: #fff;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.effect-oscar:hover h3 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
   text-shadow: 1px 1px 1px #575757;
  
   padding-bottom: 10px;
   border-bottom: 2px solid #fff;
}
.products-list-2  figure.effect-oscar:hover h3 {
  
   border-bottom: none;
   text-shadow: none;
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: #fff;
}

figure.effect-oscar:hover figcaption {
  background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
  opacity: 0.6;
}

/*---------------*/
/*---------------*/






/* fix size @media */



@media all and (max-width: 1024px) {
/* fix kich thuoc cua img */
   .tab-content li{
      list-style: none !important;
      float: left !important;
       
      
    }
  .cbp-hrmenu .cbp-hrsub-inner > div{
    width: 25% !important;
  }
    
  
}
@media all and (max-width: 900) {
   
   
}
@media all and (max-width: 768px) {

    /* fix size icon */
    .header-top  .btn {
       float: right;
       border-left: 1px solid #e4e3e3;
    }
    .right-box .input-group{
      float: right;
      width: 33%;
    }
    .right-box  .box-icon{
      width: 30%;}
    .header-top  .btn {
      width: 100%;
    }
/* fix kich thuoc cua img */
   .tab-content li{
      list-style: none !important;
      float: left !important;
      width: 100% !important;
      
    }

    .link-bottom ul li{  text-align: left !important; float: none !important;}
    .slide-products .carousel-inner img{
          width: 50% !important;
         height: auto !important;
          float: left;
          padding: 10px;
      }

    .navbar-collapse{
      float: left;
      width: 100%;
  
    }
     .cbp-hrmenu > ul > li > a{
      line-height: 20px !important;
      padding-left: 0px !important;
    }
   .cbp-hrmenu .cbp-hrsub-inner > div{
    width: 35% !important;
  }

        .img-haft img{
        width: 100%;
        height: 300px !important;
      }
      .img-haft  figure.effect-oscar figcaption {
    padding: 20% 30px;
  }
.img-haft figure.effect-oscar h3{
  margin: 20% 50px 0 30px;
}
  

    .content-products-list .col-xs-12{
      width: 50%;
    }

    ul.brands-list-content li{
  float: left;
  width:50% !important;
  padding: 5px 0px 5px 0px;
}
 .items-products-cart .col-xs-4{
  height: 50px !important;
  line-height: 50px !important;
  border-top: 1px solid #ECECEC;
  margin-top: 10px;
 }
 .items-products-cart input {
    margin-top: 5px !important;

 }
 .items-products-cart .col-xs-6{
    border-right: none !important;
 }
    
}
@media all and (max-width: 600px) {
  

/* fix kich thuoc cua img */
   .tab-content li{
      list-style: none !important;
      float: left !important;
       width: 100% !important;
      
    }
  
    .products-list .nav-tabs > li > a{
  
        padding-left: 10px;
        padding-right:10px;
        

    }
     .cbp-hrmenu .cbp-hrsub {
      top: 0px !important; 
    }
    .cbp-hrmenu .cbp-hrsub-inner > div {
    width: 50%;
    float: left;
    padding: 0 2em 0;
  }
    
    .img-haft img{
      width: 100%;
      height: 300px !important;
    }
   .img-haft  figure.effect-oscar figcaption {
    padding: 20% 30px;
  }
.img-haft figure.effect-oscar h3{
  margin: 20% 50px 0 30px;
}

    
    ul.brands-list-content li{
  float: left;
  width:50% !important;
  padding: 5px 0px 5px 0px;
}
  
}
@media all and (max-width: 480px) {
   .content-products-list .col-xs-12{
      width: 100%;
    }
/* fix kich thuoc cua img */
   .tab-content li{
      list-style: none !important;
      float: left !important;
       width: 100% !important;
      
    }
    
     .cbp-hrmenu .cbp-hrsub {
      top:0px !important;}
    
  .cbp-hrmenu .cbp-hrsub-inner > div {
  width: 100%;
  float: left;
  padding: 0 2em 0;
}
    .img-haft  figure.effect-oscar figcaption {
    padding: 20% 30px;
  }
.img-haft figure.effect-oscar h3{
  margin: 20% 50px 0 30px;
}
  .box-select-items{
      width: 100%;
    }
}
@media all and (max-width: 320px) {

   .tab-content li{
      list-style: none !important;
      float: left !important;
       width: 100% !important;
      
    }

    
  
}