@font-face {
    font-family: 'MSGothic';
    src: url('../fonts/font/MSGothic.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,100,100italic,500italic,700,700italic,900,900italic&subset=latin,vietnamese);
body,
html {
    /*font-family: 'MSGothic';*/
    font-family: Roboto, Helvetica, Tahoma, Arial;
    font-weight: normal;
    font-size: 16px;
    background: #fff;
}

.jptext {
    font-family: 'MSGothic';
}

a {
    color: #000;
}

a:hover {
    color: #5bc0de;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

.img-responsive {
    margin: 0 auto;
    width: 100%;
}

/* header*/

header {
    background: #f4f4f4;
}

.header-top {
    height: 100px;
    width: 100%;
}

.logo {
    float: left;
    margin-top: 15px;
}

.right-box {
    float: right;
}

.right-box .input-group {
    float: left;
    width: 55%;
}

.header-top .input-group {
    margin-top: 25px;
    border-radius: 0px;
}

.header-top .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4e3e3;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}

.header-top .btn {
    padding: 8px 30px;
    border: 1px solid #e4e3e3;
    border-left: 4px double;
    border-color: #e4e3e3;
    border-radius: 0px;
    height: 40px;
    background: -webkit-linear-gradient(#ffffff, #f3f3f3);
    background: -o-linear-gradient(#ffffff, #f3f3f3);
    background: -moz-linear-gradient(#ffffff, #f3f3f3);
    background: linear-gradient(#ffffff, #f3f3f3);
}

.header-top .btn:hover,
.header-top .btn:focus {
    background: -webkit-linear-gradient(#f3f3f3, #ffffff);
    background: -o-linear-gradient(#f3f3f3, #ffffff);
    background: -moz-linear-gradient(#f3f3f3, #ffffff);
    background: linear-gradient(#f3f3f3, #ffffff);
}

.header-top .btn .fa {
    font-size: 16px;
    font-weight: 100;
}

.box-icon {
    height: 40px;
    width: 20%;
    line-height: 40px;
    border: 1px solid #e4e3e3;
    text-align: center;
    margin-left: 5px;
    float: right;
    line-height: 40px;
    margin-top: 25px;
    -background: -webkit-linear-gradient(#ffffff, #f3f3f3);
    -background: -o-linear-gradient(#ffffff, #f3f3f3);
    -background: -moz-linear-gradient(#ffffff, #f3f3f3);
    -background: linear-gradient(#ffffff, #f3f3f3);
}

.box-icon .fa {
    margin-right: 5px;
}

.box-icon-small {
    width: 15%;
}


/* modal*/

.input-group {
    width: 90%;
    float: left;
}

.modal .form-control {
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.modal .input-group {
    padding-left: 8px;
}

.modal .btn {
    border: none;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

.modal .btn:hover,
.modal .btn:focus {
    background: none;
    transform: scale(1);
    -moz-transition: scale(1);
    -o-transition: scale(1);
    -webkit-transition: scale(1);
}

.modal hr {
    border-top: 1px dotted #ebebeb;
}

.modal-body p {
    padding-left: 20px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    border-radius: 0px;
    box-shadow: none;
}

.modal-body a {
    text-transform: capitalize;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0;
    box-shadow: none;
}

.modal-content .top-search-keywords p{
    font-size: 14px;
    color: #999;
}
.modal-content .top-search-keywords p a{
    color: #000;
}


/* buttom */


/* menu */

.navbar {
    font-family: 'MSGothic';
    position: relative;
    margin-bottom: 0px;
    border: none;
}

.usd-exchange {
    position: absolute;
    right: 10px;
    top: 2.5px;
    width: 150px;
    height: 40px;
    background: rgba(0, 0, 0, 0.1);
    line-height: 40px;
    z-index: 999999;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.usd-exchange a {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0px 10px;
    color: #fff;
    line-height: 40px;
}

.modal-exchange .modal-header {
    border-bottom: none;
}

.modal-exchange .form-control {
    padding-left: 20px;
    border: 1px solid #f4f4f4;
    height: 40px !important;
}

.modal-exchange .btn {
    padding: 10px 35px;
    background: rgba(0, 0, 0, 0.4);
    float: left;
    margin-top: 25px;
    color: #fff;
    text-shadow: none;
    border-radius: 0px;
    outline: 1px solid;
    outline-color: rgba(0, 0, 0, 0.4);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.modal-exchange .btn:hover {
    padding: 10px 35px;
    background: #02a4ec;
    outline: 1px solid;
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #02a4ec;
}

.navbar-collapse {
    float: left;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: absolute;
    height: 50px !important;
    line-height: 50px;
    top: 100px;
    left: 0px;
    width: 100%;
    padding: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.navbar-inverse:hover {}

.navbar-nav > li {}

.navbar-inverse .navbar-nav > li > a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background: none !important;
    color: #5bc0de !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #5bc0de;
}

.navbar-header {
    width: auto;
    float: left;
}


/* menu-sub */

.navbar-inverse .navbar-toggle {
    background: #5bc0de;
    border: none;
    border-radius: 0px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
}

.navbar-inverse .navbar-toggle:hover {
    background: #33CCFF;
}

.nav-right-items .btn {
    background: none;
    box-shadow: none;
    border: none;
    float: left;
    color: #fff;
    margin-top: -1px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    padding: 0px;
    outline: none;
}

.nav-right-items .btn:focus,
.nav-right-items .btn:active:focus,
.nav-right-items .btn.active:focus,
.nav-right-items .btn.focus,
.nav-right-items .btn:active.focus,
.nav-right-items .btn.active.focus {
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
}


/* menu sub */


/* end menu */


/* slide */

.slide {
    z-index: 8;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}

.carousel-indicators {
    background: rgba(255, 255, 255, .2);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0%;
    right: 0%;
    z-index: 15;
    padding-left: 0;
    /* margin-left: -30%; */
    text-align: center;
    list-style: none;
    margin-left: 0%;
    margin-bottom: 0px;
}

#homeCarousel .carousel-inner img {
    /*height: 650px !important;*/
    width: 100%;
}

.carousel-indicators li {
    border-radius: 0px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #fff;
    margin-top: 15px;
}

.carousel-indicators li.active {
    margin: 1px;
    margin-top: 15px;
    border: 1px solid #28b6ff;
    background: #02a4ec;
}

.carousel-caption {
    width: 40%;
    left: 20% !important;
    top: 20% !important;
    text-align: left;
}

.carousel-caption a {
    padding: 15px 35px;
    background: rgba(0, 0, 0, 0.4);
    float: left;
    margin-top: 25px;
    color: #fff;
    text-shadow: none;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.carousel-caption a:hover {
    background: #02a4ec;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

@media all and (max-width: 768px) {
    .carousel-inner img {
        height: 400px !important;
        width: 100%;
    }
}


/* end slide */


/* slide produts */

.slide-products {
    margin-top: 30px;
    margin-bottom: 80px;
}

.slide-products .carousel-inner img {
    width: 25%;
    height: auto !important;
    float: left;
    padding: 10px;
}

.slide-products img:hover {
    opacity: 0.7;
}

.slide-products .carousel-control.left {
    background: none;
}

.slide-products .carousel-indicators {
    bottom: -50px;
}

.slide-products .carousel-indicators li {
    background: #C2C2C2;
}

.slide-products .carousel-indicators li.active,
.slide-products .carousel-indicators li:hover {
    background: #000;
}


/* products-list */

.home-catalog img{
    height: 300px;
}

.products-list {
    margin-top: 50px;
}

.header-list {
    text-align: center;
    letter-spacing: 0px !important;
    margin-bottom: 30px;
}

.products-list img {
    width: 100%;
    /*height: 300px !important;*/
}

.products-list-1 .img-wrapper{
    width: 100%;
    height: 200px !important;
    display: flex;
    align-items: center;
}
.products-list-1 .img-wrapper{
    max-height: 100%; max-width: 100%;
    display: flex;
    align-items: center;
}

.products-list-1 .row {
    margin-right: -5px;
}

.img-haft figure.effect-oscar {
    width: 100%;
    height: 150px !important;
    overflow: hidden;
}

.products-list .thumbnail img {
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 9;
    border: none;
    padding: 0px !important;
    border-radius: 0px;
    margin: 0px;
}

.products-list .thumbnail img:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transition: scale(1);
    border: none;
}

.products-list .col-xs-6,
.products-list .col-sm-3,
.products-list .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}


/* products tab*/

.nav-tabs {
    border: none;
    margin: 0 auto;
    display: table;
    margin-bottom: 20px;
}

. .nav-tabs li {
    float: left;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    background-color: none !important;
    color: #5bc0de;
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 4px double;
    border-top: 4px double;
    border-color: #C2C2C2;
    border-radius: 0px !important;
}

.nav-tabs > li > a {
    border-radius: 0px !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-bottom: 4px double;
    border-top: 4px double;
    border-color: #C2C2C2;
}

.nav-tabs > li:hover > a {
    background-color: none !important;
    background: none !important;
    color: #5bc0de !important;
    text-align: center !important;
}

.tab-content li {
    list-style: none !important;
    float: left !important;
    cursor: pointer;
}

.tab-content img {
    width: auto !important;
    height: 100% !important;
    float: left !important;
    padding: 5px;
}

.img-products {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.img-products .img-wrapper img {
    /*height: 100% !important;*/
    height: auto !important;
    width: auto !important;
}

.img-products .img-wrapper{
    height: 300px;
    display: block;
    display: flex;
    align-items: center;
    position: relative;
}

@media all and (max-width: 768px) {
    .img-products .img-wrapper{
        height: 150px;
    }
}

.img-products .img-wrapper img{
    max-height: 100%;
    max-width: 100%;
}
.caption-img {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    position: absolute;
    width: 90%;
    height: 260px;
    background: rgba(255, 255, 255, 0.3);
    margin: 20px 5%;
    top: 0px;
    left: 0px;
    z-index: 15;
    padding: 5px;
    color: #fff;
    text-align: center;
    line-height: 50%;
    opacity: 0;
    transform: scale(0.3);
}

.item:hover .caption-img {
    opacity: 1;
    transform: scale(1);
}


/*$search-result-item-font-size: 14px;
$search-result-item-line-height: 1.42857143;
$search-result-item-lines-to-show: 2;*/

.item .product_title {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 40px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption-img .fa {
    padding: 8px 15px;
    background: #02b6d1;
    margin: 0 auto;
    margin-top: 90px;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid #02b6d1;
}

.caption-img .fa:hover {
    background: #fff;
    color: #02b6d1;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 10px;
}

.img-products .active .fa,
.img-products .active .fa:hover,
.product-view-detail .active .fa{
    background: #fff;
    color: red;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 10px;
}

.tab-content a:hover {
    text-decoration: none;
}

.caption-img h4 {
    margin-top: 60px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.caption-img h4,
.caption-img span,
.caption-img small {
    color: #fff;
    letter-spacing: 0px;
}

.caption-img span {
    font-size: 16px;
    color: #5bc0de;
}

.tab-content hr {
    border-top: 2px solid #dfdfdf;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-products a {
    text-transform: uppercase;
}

ul[data-liffect="zoomOut"] li {
    opacity: 0;
    position: relative;
    -webkit-animation: zoomOut 500ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: zoomOut 500ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: zoomOut 500ms ease both;
    -o-animation-play-state: paused;
    animation: zoomOut 500ms ease both;
    animation-play-state: paused;
}

ul[data-liffect="zoomOut"].play li {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 0;
        -webkit-transform: scale(.6);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes zoomOut {
    0% {
        opacity: 0;
        -moz-transform: scale(.6);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-o-keyframes zoomOut {
    0% {
        opacity: 0;
        -o-transform: scale(.6);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* free-ship */

.free-ship {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px dotted #CFCFCF;
    border-top: 1px dotted #CFCFCF;
}

.free-ship h4 {
    text-transform: uppercase;
    color: #5bc0de;
    font-size: 13px;
    letter-spacing: 0px;
    padding-top: 10px;
}

.free-ship .fa {
    font-size: 30px;
    border-bottom: 3px solid #5bc0de;
    padding-bottom: 15px;
}

.div-ship {
    margin-top: 20px;
    padding-bottom: 15px;
}


/* apps */

.apps {
    background: rgba(255, 255, 255, 0.6) url("../images/bg-apps.png") fixed top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}

.apps h3.h1 {
    margin-bottom: 30px;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: double 4px;
    border-color: #C2C2C2;
    font-size: 24px;
    display: inline-block;
    color: #fff;
}

.apps .btn {
    width: 180px;
    height: 62px;
    -transition: all 1s ease;
    --webkit-transition: all 1s ease;
    --moz-transition: all 1s ease;
    --o-transition: all 1s ease;
    border: none;
    background: none;
    border-radius: 0px;
    -border-color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    -outline: 1px solid;
    -outline-color: rgba(255, 255, 255, 1);
    -outline-offset: 0px;
    -text-shadow: none;
    -transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.apps .btn:hover {
    background: none;
    border: none;
    -outline: 1px solid;
    -outline-color: rgba(255, 255, 255, 0);
    -outline-offset: 10px;
    -text-shadow: 1px 1px 2px #427388;
}

.apps .btn:hover a,
.apps .btn:hover .fa {
    color: #fff;
}

.apps .fa {
    font-size: 16px;
    margin-right: 10px;
}

.apps p {
    color: #fff;
}

.apps .col-xs-12,
.apps .col-sm-4,
.apps .col-md-4 {
    margin-bottom: 20px;
}


/*news*/

.news {
    padding: 30px 0px;
    overflow: hidden;
}

.news .col-md-6 {
    min-height: 280px !important;
}

.news .col-md-6 img {
    height: 250px !important;
    margin-bottom: 10px;
}

.news img {
    /*width: 100%;
    height: 200px !important;*/
}

.time-line {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.time-line .fa {
    margin-right: 10px;
}

.time-line .mr-left {
    margin-left: 15px;
}

.time-line span {
    text-transform: none;
}

.news .fa {
    margin-right: 10px;
}

.news .btn {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    padding: 5px 20px 5px 20px;
    border-radius: 0px;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
}

.news h4 {
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.news .btn:hover {
    background: #5bc0de;
    border: none;
    padding: 5px 30px 5px 30px;
}

.news .btn:hover a,
.news .btn:hover .fa {
    color: #fff;
}

.news img {}

.mr-bottom {
    margin-bottom: 35px;
}


/* footer */

footer {
    background: #2b2b2b;
    color: #fff;
    padding-top: 20px;
}

footer h3 {
    font-size: 16px;
    letter-spacing: 0px;
    border: none;
    padding-bottom: 15px;
}

.info .fa {
    margin-right: 15px;
}

footer p {
    color: #C2C2C2;
    padding: 5px 0px 5px 0px;
    font-size: 13px;
}

.link-shop ul li {
    width: 100%;
    float: left;
    list-style: none;
    border-bottom: 1px dotted #4A4A4A;
    padding-bottom: 5px;
}

.link-shop ul li a {
    color: #C2C2C2;
    line-height: 25px;
    text-transform: capitalize;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    font-size: 13px;
}

.link-shop ul li a:hover {
    color: #5bc0de;
    padding-left: 15px;
}

footer ul li {
    display: inline-block;
    margin-right: 8px;
}

footer ul li .fa {
    float: left;
    font-size: 14px;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    display: block;
    background-color: #212121;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 3px;
    opacity: 0.7;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    font-size: 13px;
}

footer span {
    display: none;
}

footer ul li .fa:hover {
    opacity: 1;
    background-color: #5bc0de;
}

footer .form_newsletter {
    position: relative;
}

footer .newsletter-input {
    padding-left: 30px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    box-shadow: none;
    height: 40px;
    font-style: italic;
    font-size: 13px;
    color: #787878;
    border-radius: 0px;
}

footer .btn {
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 6px;
    right: 13px;
    padding: 0px;
    line-height: 30px;
    text-align: center;
}

footer .form_newsletter:before {
    content: "\f0e0";
    font-family: "FontAwesome";
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
}

footer .btn:before {
    content: "\f1d8";
    font-family: "FontAwesome";
    font-size: 13px;
    color: #000;
    position: absolute;
    top: 0px;
    right: 4px;
    line-height: 26px;
}

footer .btn:hover {
    color: #5bc0de;
}

.footer-bottom {
    background: #212121;
    margin-top: 25px;
    color: #919191;
    font-size: 13px;
    padding: 15px 0px 15px 0px;
}

.footer-bottom .copyright a {
    color: #5bc0de;
    padding-right: 3px;
    padding-left: 3px;
}

.link-bottom ul li {
    text-align: right !important;
    float: right;
}

.link-bottom ul li a {
    color: #919191;
    font-size: 13px;
    padding-right: 20px;
    text-transform: capitalize;
}

.link-bottom ul li a:hover {
    color: #5bc0de;
    text-decoration: underline;
}
#map-info {
    min-width: 300px
}
#map-info span{
    padding-left: 5px;
}
#map-info .fa {
    width: auto !important;
    height: auto;
    line-height: 20px;
    text-align: center;
    border: none;
    border-radius: 0;
    width: 10px !important;
    display: inline-block;
}



.img-products:hover img{

  filter : grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter: url(filter.svg#greyscale); /* thêm đường dẫn của file filter.svg */
    filter: gray; /* code để hỗ trợ IE */
}
.caption-img{
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;


 
  position: absolute;
  
  width: 90%;
  height: 100%;
 
  margin:10px 5%;
  top: 0px;
  left: 0px;
  z-index: 15;
  padding: 5px;

  color: #fff;
  text-align: center;
  line-height: 50%;
 
  opacity: 0;
  transform: scale(0.3);

}

[data-readmore]{
    margin-bottom: 15px;
}
[data-readmore-toggle]{
    color: #5bc0de;
    display: block;
    margin-bottom: 10px;
}