html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: normal 16px/1.5 Arial, sans-serif;
	color: #111;
	background: #eee;
}

h1, h2, h3, h4, header > p {
	text-align: center;
	color: #555;
}

h1 {
	margin: 0 0 .2em;
	font-size: 2.5em;
	letter-spacing: -.075em;
}

h2, h1 + p {
	margin: 0 0 .5em;
	font-size: 1.5em;
}

h3, h4 {
	margin: 0 0 .5em;
	font-size: 1.25em;
}

* + h3 {
	margin-top: 1em;
}

header > h1 {
	margin-bottom: 0;
}

header > p {
	margin-bottom: 1em;
}

p, dl, ul, ol {
	margin: 0 0 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1em;
	font-size: .8125em;
	color: #555;
}

ul, ol {
	padding-left: 1.5em;
}

button,
a.button {
	font-size: 1.2em;
	line-height: 1;
	padding: .25em .5em;
	border: none;
	text-decoration: none;
	color: #fff;
	background: #333;
	border-radius: 7px;
}

button:hover,
a.button:hover {
	background-color: #111;
}

a img {
	border: 0;
}

figure {
	margin: 0;
}

pre, code, var, tt {
	font-size: 15px;
	font-style: normal;
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}

pre {
	overflow: auto;
	padding: 1em .5em;
	border: 1px solid #333;
	line-height: 1.25;
	text-align: left;
	border-radius: 5px;
}

table {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

tr > * {
	border-right: 1px solid #ddd;
}

tr > :last-child {
	border-right: 0;
}

th, td {
	padding: 5px;
	text-align: left;
	min-width: 150px;
}

th {
	background: #fafafa;
}

td {
	border-top: 1px solid #ddd;
}

.container {
	width: 640px;
	margin: 0 auto;
	padding: 2em 2em 4em;
	background: #fff;
	box-shadow: 0 0 5em rgba(0, 0, 0, .1);
}

.container section + section {
	margin-top: 3em;
	border-top: 1px solid #ccc;
	padding-top: 1em;
}

.thumbnails {
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
	text-align: center;
}

.thumbnails li {
	display: inline-block;
	width: 100px;
	height: 120px;
	margin: 0 5px;
	float: left;
}

.thumbnails img {
	display: block;
	min-width: 100%;
	max-width: 100%;
}

.toggle {
	display: block;
	margin: 10px auto 1.5em;
}
