/*chatbox*/
.chat-box{
	background: #34302a;
	padding: 5px;
	position: fixed;
	right: 10px; bottom: 0;
	font-size: 10pt;
	font-family: arial;
	width: 275px;
	z-index: 9999;

	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
		    border-radius: 4px 4px 0 0;
}
.chat-box.chat-minibox .chat-messages,
.chat-box.chat-minibox .chat-control{
	display: none;
}
.chat-box .chat-header{
	color: #fff;
	padding: 5px;
	cursor: pointer;
}
.chat-box .chat-header a.chat-toggle{
	color: #e4e4e4;
	float: right;
}
.chat-box .chat-header a:hover.chat-toggle{
	color: #fff;
}
.chat-box .chat-header .chat-status{
	color: #ccc;
}
.chat-box .chat-header .chat-status.online{
	color: #88C90B;
}
.chat-box .chat-messages{
	width: 100%; height: 230px; overflow-y: scroll;
	background: #fff;
	color: #333;
}
.chat-box .chat-messages ul{
	padding: 0 10px; margin: 10px 0 20px;
}
.chat-box .chat-messages ul li{
	margin-bottom: 15px;
}
.chat-box .chat-messages ul li p{
	margin: 3px 0;
}
.chat-box .chat-messages label{
	font-size: 90%;
	color: #666;
	font-weight: 700;
}
.chat-box .chat-messages label i{
	font-weight: 400;
	font-size: 85%;
	font-style: normal;
	color: #999;
}
.chat-box .chat-typing{
	background: transparent;
	display: none;
    color: #ccc;
    font-size: 0.8em;
    padding-left: 10px;
    margin-top: -18px;
}
.chat-box .chat-control{
	background: #fff;
	border-top: 2px solid #ededed;
	height: 50px;
}
.chat-box textarea{
	height: 40px;
	min-height: 60px;
	border-radius: 0;
	font: inherit;
	font-size: 90%;
	padding: 5px 10px;

	background-color: transparent;
    border: 0 none;
    box-sizing: border-box;
    outline: 0 none;
    width: 100%;
}